<div class="flex flex-col flex-auto min-w-0">
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center">
        <h4 class="display-inline">Users</h4>
        <div class="tooltip_wrapper tooltip--inline">
          <div class="tooltip_target tooltip--inline">
            <i class="fl-info fl-dark"></i>
          </div>
        </div>
      </div>
      <ul class="tab-list clearfix">
        <li class="tab-list__element">
          <a
            class="tab-list__link tab-list__link--active"
            aria-current="page"
            href="/accounts/~7167dbc0/users/overview"
            >Overview</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/users/analyze"
            >Analyze</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/users/all"
            >List of Users</a
          >
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="row">
        <div class="col display-flex">
          <div class="card card--stats">
            <div class="display-flex flex-direction-column w-100">
              <div class="card__title flex-1">
                <div>
                  <label class="card__title__label"
                    >TOTAL USERS
                    <div class="tooltip_wrapper tooltip--inline">
                      <div class="tooltip_target tooltip--inline">
                        <i class="fl-info fl-dark"></i>
                      </div>
                    </div>
                    <span class="col flex-0 border-left- cd-pin-pos-data-card">
                      <button
                        class="button--no-style padding-top-xl padding-right-xl margin-left-auto">
                        <i class="fl-pin-large fl-dark"></i></button></span
                  ></label>
                </div>
                <h5 class="card__title__count">944,971</h5>
              </div>
              <div class="card__subtitles"></div>
            </div>
          </div>
        </div>
        <div class="col display-flex">
          <div class="card card--stats">
            <div class="display-flex flex-direction-column w-100">
              <div class="card__title flex-1">
                <div>
                  <label class="card__title__label"
                    >KNOWN USERS
                    <div class="tooltip_wrapper tooltip--inline">
                      <div class="tooltip_target tooltip--inline">
                        <i class="fl-info fl-dark"></i>
                      </div>
                    </div>
                    <span class="col flex-0 border-left- cd-pin-pos-data-card">
                      <button
                        class="button--no-style padding-top-xl padding-right-xl margin-left-auto">
                        <i class="fl-pin-large fl-dark"></i></button></span
                  ></label>
                </div>
                <h5 class="card__title__count">229,254</h5>
                <p
                  class="card__title__secondary-count text--intermediate values">
                  24.26%
                </p>
              </div>
              <div class="card__subtitles"></div>
            </div>
          </div>
        </div>
        <div class="col display-flex">
          <div class="card card--stats">
            <div class="display-flex flex-direction-column w-100">
              <div class="card__title flex-1">
                <div>
                  <label class="card__title__label"
                    >MONTHLY ACTIVE USERS (MAU)
                    <div class="tooltip_wrapper tooltip--inline">
                      <div class="tooltip_target tooltip--inline">
                        <i class="fl-info fl-dark"></i>
                      </div>
                    </div>
                    <span class="col flex-0 cd-pin-pos-data-card">
                      <button
                        class="button--no-style padding-top-xl padding-right-xl margin-left-auto">
                        <i class="fl-pin-large fl-dark"></i></button></span
                  ></label>
                </div>
                <h5 class="card__title__count">32,962</h5>
              </div>
              <div class="card__subtitles">
                <div class="card__subtitle">
                  <span
                    ><label class="">WEB </label
                    ><span class="values">8,854</span></span
                  ><span class="card__icon"></span>
                </div>
                <div class="card__subtitle">
                  <span
                    ><label class="">ANDROID </label
                    ><span class="values">13,965</span></span
                  ><span class="card__icon"></span>
                </div>
                <div class="card__subtitle">
                  <span
                    ><label class="">iOS </label
                    ><span class="values">10,143</span></span
                  ><span class="card__icon"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <div class="row">
            <div class="col flex-1">
              <div class="row">
                <h5 class="col col-9">Activity (MAU, WAU, DAU)</h5>
                <div class="col flex-2 text-right">
                  <div class="pop-over smart-date">
                    <div class="pop-over__head">
                      <div>
                        <span>Last 7 days</span
                        ><i class="fl-chevron-bottom fl-dark"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col flex-1">
                  <div class="form__element react-select-wrapper-element">
                    <div class="pop-over">
                      <div class="pop-over__head">
                        <div>
                          <span>MAU</span
                          ><i class="fl-chevron-bottom fl-dark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col flex-0 border-left">
              <button class="button--no-style">
                <i class="fl-pin-large fl-dark"></i>
              </button>
            </div>
            <div class="col flex-0 margin-left-auto border-left">
              <i
                class="fl-download fl-dark cursor-pointer"
                title="download data as csv"></i>
            </div>
            <div
              class="col flex-0 margin-left-auto border-left padding-left-xl">
              <div class="row justify-content-end">
                <div class="pop-over">
                  <div class="pop-over__head">
                    <i class="fl-vert-more fl-dark"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content min-height-auto">
          <div
            id="line-chart"
            class="we-chart"
            data-highcharts-chart="0">
            <div
              id="highcharts-0pm8wkv-0"
              dir="ltr"
              class="highcharts-container"
              style="
                position: relative;
                overflow: hidden;
                width: 1553px;
                height: 400px;
                text-align: left;
                line-height: normal;
                z-index: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next',
                  Avenir, 'Segoe UI', 'Lucida Grande', 'Helvetica Neue',
                  Helvetica, 'Fira Sans', Roboto, Noto, 'Droid Sans', Cantarell,
                  Oxygen, Ubuntu, 'Franklin Gothic Medium', 'Century Gothic',
                  'Liberation Sans', sans-serif;
              ">
              <svg
                version="1.1"
                class="highcharts-root"
                style="
                  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next',
                    'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue',
                    'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans',
                    'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium',
                    'Century Gothic', 'Liberation Sans', sans-serif;
                  font-size: 12px;
                "
                xmlns="http://www.w3.org/2000/svg"
                width="1553"
                height="400"
                viewBox="0 0 1553 400">
                <desc>Created with Highcharts 6.2.0</desc>
                <defs>
                  <clipPath id="highcharts-0pm8wkv-1">
                    <rect
                      x="0"
                      y="0"
                      width="1326"
                      height="352"
                      fill="none"></rect>
                  </clipPath>
                </defs>
                <rect
                  fill="#ffffff"
                  class="highcharts-background"
                  x="0"
                  y="0"
                  width="1553"
                  height="400"
                  rx="0"
                  ry="0"></rect>
                <rect
                  fill="none"
                  class="highcharts-plot-background"
                  x="69"
                  y="10"
                  width="1326"
                  height="352"></rect>
                <g
                  class="highcharts-grid highcharts-xaxis-grid"
                  data-z-index="1">
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 68.5 10 L 68.5 362"
                    opacity="1"></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 289.5 10 L 289.5 362"
                    opacity="1"></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 510.5 10 L 510.5 362"
                    opacity="1"></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 731.5 10 L 731.5 362"
                    opacity="1"></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 952.5 10 L 952.5 362"
                    opacity="1"></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 1173.5 10 L 1173.5 362"
                    opacity="1"></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 1394.5 10 L 1394.5 362"
                    opacity="1"></path>
                </g>
                <g
                  class="highcharts-grid highcharts-yaxis-grid"
                  data-z-index="1">
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 362.5 L 1395 362.5"
                    opacity="1"></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 303.5 L 1395 303.5"
                    opacity="1"></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 245.5 L 1395 245.5"
                    opacity="1"></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 186.5 L 1395 186.5"
                    opacity="1"></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 127.5 L 1395 127.5"
                    opacity="1"></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 69.5 L 1395 69.5"
                    opacity="1"></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 9.5 L 1395 9.5"
                    opacity="1"></path>
                </g>
                <rect
                  fill="none"
                  class="highcharts-plot-border"
                  data-z-index="1"
                  x="69"
                  y="10"
                  width="1326"
                  height="352"></rect>
                <g
                  class="highcharts-axis highcharts-xaxis"
                  data-z-index="2">
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 68.5 362 L 68.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 289.5 362 L 289.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 510.5 362 L 510.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 731.5 362 L 731.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 952.5 362 L 952.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 1173.5 362 L 1173.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 1395.5 362 L 1395.5 372"
                    opacity="1"></path>
                  <path
                    fill="none"
                    class="highcharts-axis-line"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    data-z-index="7"
                    d="M 69 362.5 L 1395 362.5"></path>
                </g>
                <g
                  class="highcharts-axis highcharts-yaxis"
                  data-z-index="2">
                  <text
                    x="26.140625"
                    data-z-index="7"
                    text-anchor="middle"
                    transform="translate(0,0) rotate(270 26.140625 186)"
                    class="highcharts-axis-title"
                    style="color: #666666; fill: #666666"
                    y="186">
                    <tspan>Monthly Active Users (MAU)</tspan>
                  </text>
                  <path
                    fill="none"
                    class="highcharts-axis-line"
                    data-z-index="7"
                    d="M 69 10 L 69 362"></path>
                </g>
                <g
                  class="highcharts-series-group"
                  data-z-index="3">
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-0 highcharts-line-series highcharts-color-0"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-0pm8wkv-1)">
                    <path
                      fill="none"
                      d="M 0 23.689599999999984 L 221 23.877333333333354 L 442 23.97120000000001 L 663 23.748266666666666 L 884 23.93599999999998 L 1105 23.865599999999972 L 1326 23.91253333333333"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#FD578D"
                      stroke-width="2"
                      stroke-dasharray="6,2"></path>
                    <path
                      fill="none"
                      d="M -10 23.689599999999984 L 0 23.689599999999984 L 221 23.877333333333354 L 442 23.97120000000001 L 663 23.748266666666666 L 884 23.93599999999998 L 1105 23.865599999999972 L 1326 23.91253333333333 L 1336 23.91253333333333"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-0 highcharts-line-series highcharts-color-0 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)">
                    <path
                      fill="#FD578D"
                      d="M 4 24 A 4 4 0 1 1 3.9999980000001667 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                    <path
                      fill="#FD578D"
                      d="M 225 24 A 4 4 0 1 1 224.99999800000018 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                    <path
                      fill="#FD578D"
                      d="M 446 24 A 4 4 0 1 1 445.9999980000002 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                    <path
                      fill="#FD578D"
                      d="M 667 24 A 4 4 0 1 1 666.9999980000001 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                    <path
                      fill="#FD578D"
                      d="M 888 24 A 4 4 0 1 1 887.9999980000001 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                    <path
                      fill="#FD578D"
                      d="M 1109 24 A 4 4 0 1 1 1108.9999980000002 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                    <path
                      fill="#FD578D"
                      d="M 1330 24 A 4 4 0 1 1 1329.9999980000002 23.996000000666665 Z"
                      class="highcharts-point highcharts-color-0"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-1 highcharts-line-series highcharts-color-1"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-0pm8wkv-1)">
                    <path
                      fill="none"
                      d="M 0 307.0496 L 221 307.0144 L 442 306.96746666666667 L 663 306.7328 L 884 307.07306666666665 L 1105 306.9205333333333 L 1326 306.77973333333335"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#008BFA"
                      stroke-width="2"
                      stroke-dasharray="6,2"></path>
                    <path
                      fill="none"
                      d="M -10 307.0496 L 0 307.0496 L 221 307.0144 L 442 306.96746666666667 L 663 306.7328 L 884 307.07306666666665 L 1105 306.9205333333333 L 1326 306.77973333333335 L 1336 306.77973333333335"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-1 highcharts-line-series highcharts-color-1 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)">
                    <path
                      fill="#008BFA"
                      d="M 4 307 A 4 4 0 1 1 3.9999980000001667 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                    <path
                      fill="#008BFA"
                      d="M 225 307 A 4 4 0 1 1 224.99999800000018 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                    <path
                      fill="#008BFA"
                      d="M 446 307 A 4 4 0 1 1 445.9999980000002 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                    <path
                      fill="#008BFA"
                      d="M 667 307 A 4 4 0 1 1 666.9999980000001 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                    <path
                      fill="#008BFA"
                      d="M 888 307 A 4 4 0 1 1 887.9999980000001 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                    <path
                      fill="#008BFA"
                      d="M 1109 307 A 4 4 0 1 1 1108.9999980000002 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                    <path
                      fill="#008BFA"
                      d="M 1330 307 A 4 4 0 1 1 1329.9999980000002 306.99600000066664 Z"
                      class="highcharts-point highcharts-color-1"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-2 highcharts-line-series highcharts-color-2"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-0pm8wkv-1)">
                    <path
                      fill="none"
                      d="M 0 246.18880000000001 L 221 246.2592 L 442 246.576 L 663 246.69333333333333 L 884 246.52906666666667 L 1105 246.2944 L 1326 246.81066666666666"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#FFC107"
                      stroke-width="2"
                      stroke-dasharray="6,2"></path>
                    <path
                      fill="none"
                      d="M -10 246.18880000000001 L 0 246.18880000000001 L 221 246.2592 L 442 246.576 L 663 246.69333333333333 L 884 246.52906666666667 L 1105 246.2944 L 1326 246.81066666666666 L 1336 246.81066666666666"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-2 highcharts-line-series highcharts-color-2 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)">
                    <path
                      fill="#FFC107"
                      d="M 4 246 A 4 4 0 1 1 3.9999980000001667 245.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                    <path
                      fill="#FFC107"
                      d="M 225 246 A 4 4 0 1 1 224.99999800000018 245.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                    <path
                      fill="#FFC107"
                      d="M 446 247 A 4 4 0 1 1 445.9999980000002 246.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                    <path
                      fill="#FFC107"
                      d="M 667 247 A 4 4 0 1 1 666.9999980000001 246.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                    <path
                      fill="#FFC107"
                      d="M 888 247 A 4 4 0 1 1 887.9999980000001 246.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                    <path
                      fill="#FFC107"
                      d="M 1109 246 A 4 4 0 1 1 1108.9999980000002 245.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                    <path
                      fill="#FFC107"
                      d="M 1330 247 A 4 4 0 1 1 1329.9999980000002 246.99600000066667 Z"
                      class="highcharts-point highcharts-color-2"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-3 highcharts-line-series highcharts-color-3"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-0pm8wkv-1)">
                    <path
                      fill="none"
                      d="M 0 291.78453333333334 L 221 291.9370666666667 L 442 291.7610666666667 L 663 291.65546666666665 L 884 291.6672 L 1105 291.984 L 1326 291.65546666666665"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#58FDA1"
                      stroke-width="2"
                      stroke-dasharray="6,2"></path>
                    <path
                      fill="none"
                      d="M -10 291.78453333333334 L 0 291.78453333333334 L 221 291.9370666666667 L 442 291.7610666666667 L 663 291.65546666666665 L 884 291.6672 L 1105 291.984 L 1326 291.65546666666665 L 1336 291.65546666666665"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-3 highcharts-line-series highcharts-color-3 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)">
                    <path
                      fill="#58FDA1"
                      d="M 4 292 A 4 4 0 1 1 3.9999980000001667 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                    <path
                      fill="#58FDA1"
                      d="M 225 292 A 4 4 0 1 1 224.99999800000018 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                    <path
                      fill="#58FDA1"
                      d="M 446 292 A 4 4 0 1 1 445.9999980000002 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                    <path
                      fill="#58FDA1"
                      d="M 667 292 A 4 4 0 1 1 666.9999980000001 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                    <path
                      fill="#58FDA1"
                      d="M 888 292 A 4 4 0 1 1 887.9999980000001 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                    <path
                      fill="#58FDA1"
                      d="M 1109 292 A 4 4 0 1 1 1108.9999980000002 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                    <path
                      fill="#58FDA1"
                      d="M 1330 292 A 4 4 0 1 1 1329.9999980000002 291.99600000066664 Z"
                      class="highcharts-point highcharts-color-3"></path>
                  </g>
                </g>
                <g
                  class="highcharts-exporting-group"
                  data-z-index="3"></g>
                <text
                  x="777"
                  text-anchor="middle"
                  class="highcharts-title"
                  data-z-index="4"
                  style="color: #333333; font-size: 18px; fill: #333333"
                  y="24"></text>
                <text
                  x="777"
                  text-anchor="middle"
                  class="highcharts-subtitle"
                  data-z-index="4"
                  style="color: #666666; fill: #666666"
                  y="24"></text>
                <g
                  class="highcharts-legend"
                  data-z-index="7"
                  transform="translate(1425,118)">
                  <rect
                    fill="none"
                    class="highcharts-legend-box"
                    rx="0"
                    ry="0"
                    x="0"
                    y="0"
                    width="118"
                    height="159"
                    visibility="visible"></rect>
                  <g data-z-index="1">
                    <g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-0 highcharts-series-0"
                        data-z-index="1"
                        transform="translate(8,3)">
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#FD578D"
                          stroke-width="2"></path>
                        <path
                          fill="#FD578D"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"></path>
                        <text
                          x="21"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2"
                          y="26">
                          <tspan>Overall</tspan>
                        </text>
                      </g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-1 highcharts-series-1"
                        data-z-index="1"
                        transform="translate(8,40)">
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#008BFA"
                          stroke-width="2"></path>
                        <path
                          fill="#008BFA"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"></path>
                        <text
                          x="21"
                          y="26"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2">
                          <tspan>Web</tspan>
                        </text>
                      </g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-2 highcharts-series-2"
                        data-z-index="1"
                        transform="translate(8,77)">
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#FFC107"
                          stroke-width="2"></path>
                        <path
                          fill="#FFC107"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"></path>
                        <text
                          x="21"
                          y="26"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2">
                          <tspan>Android</tspan>
                        </text>
                      </g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-3 highcharts-series-3"
                        data-z-index="1"
                        transform="translate(8,114)">
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#58FDA1"
                          stroke-width="2"></path>
                        <path
                          fill="#58FDA1"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"></path>
                        <text
                          x="21"
                          y="26"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2">
                          <tspan>iOS</tspan>
                        </text>
                      </g>
                    </g>
                  </g>
                </g>
                <g
                  class="highcharts-axis-labels highcharts-xaxis-labels"
                  data-z-index="7">
                  <text
                    x="69"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>30 Sep</tspan>
                  </text>
                  <text
                    x="290"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>1 Oct</tspan>
                  </text>
                  <text
                    x="511"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>2 Oct</tspan>
                  </text>
                  <text
                    x="732"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>3 Oct</tspan>
                  </text>
                  <text
                    x="953"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>4 Oct</tspan>
                  </text>
                  <text
                    x="1174"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>5 Oct</tspan>
                  </text>
                  <text
                    x="1395"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1">
                    <tspan>6 Oct</tspan>
                  </text>
                </g>
                <g
                  class="highcharts-axis-labels highcharts-yaxis-labels"
                  data-z-index="7">
                  <text
                    x="0"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="-9999">
                    5k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="307"
                    opacity="1">
                    10k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="248"
                    opacity="1">
                    15k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="190"
                    opacity="1">
                    20k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="131"
                    opacity="1">
                    25k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="72"
                    opacity="1">
                    30k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="14"
                    opacity="1">
                    35k
                  </text>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <h5 class="">
            <div class="row">
              Channel Reachability
              <div class="tooltip_wrapper tooltip--inline">
                <div class="tooltip_target tooltip--inline">
                  <i class="fl-info fl-dark"></i>
                </div>
              </div>
              <div class="col flex-0 border-left margin-left-auto">
                <button class="button--no-style">
                  <i class="fl-pin-large fl-dark"></i>
                </button>
              </div>
              <span class="col flex-0 margin-left-auto- border-left"
                ><i
                  class="fl-download fl-dark cursor-pointer"
                  title="download data as csv"></i
              ></span>
            </div>
          </h5>
        </div>
        <div class="card__content no-padding min-height-auto">
          <div class="table-border-horizontal">
            <div class="table__container__container undefined">
              <div class="table__container">
                <table
                  class="table__block undefined"
                  cellpadding="0"
                  cellspacing="0">
                  <thead class="table__header">
                    <tr class="table__row">
                      <th class="table__cell table__cell--header null"></th>
                      <th
                        class="table__cell table__cell--header null"
                        title="REACHABILITY">
                        REACHABILITY
                      </th>
                      <th
                        class="table__cell table__cell--header null"
                        title="REACHABILITY (#)">
                        REACHABILITY (#)
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Push
                      </td>
                      <td class="table__cell table__cell--content-text">
                        77.97%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        736,808
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        In-app
                      </td>
                      <td class="table__cell table__cell--content-text">
                        2.55%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        24,098
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">SMS</td>
                      <td class="table__cell table__cell--content-text">
                        24.17%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        228,375
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        On-site Notification
                      </td>
                      <td class="table__cell table__cell--content-text">
                        0.94%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        8,857
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Web Push
                      </td>
                      <td class="table__cell table__cell--content-text">
                        6.97%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        65,900
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Web Personalization
                      </td>
                      <td class="table__cell table__cell--content-text">
                        0.94%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        8,857
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        App In-line
                      </td>
                      <td class="table__cell table__cell--content-text">
                        2.55%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        24,099
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Email
                      </td>
                      <td class="table__cell table__cell--content-text">
                        20.92%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        197,653
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        WhatsApp
                      </td>
                      <td class="table__cell table__cell--content-text">
                        15.79%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        149,240
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--footer table__cell--content-text">
                        Overall
                      </td>
                      <td
                        class="table__cell table__cell--footer table__cell--content-text">
                        93.61%
                      </td>
                      <td
                        class="table__cell table__cell--footer table__cell--content-text">
                        884,603
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
