<div class="flex flex-col flex-auto min-w-0">
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center">
        <h4 class="float-left">Integrations Status</h4>
        <button
          class="button button--icon margin-left-x button--icon--secondary">
          <i class="fl-sync fl-light"></i>
        </button>
      </div>
    </header>
    <div class="container">
      <div class="card">
        <div class="card__header">
          <div class="display-flex align-iterm-center">
            <h5 class="display-inline-block">SDK Integration Status</h5>
            <label
              class="cursor-pointer margin-left-auto text-primary no-decoration"
              >Configure</label
            >
          </div>
        </div>
        <div class="card__content no-padding overflow-visible min-height-auto">
          <div class="table-border-horizontal">
            <div class="table__container__container undefined">
              <div class="table__container overflow-visible funnel-list">
                <table
                  class="table__block undefined"
                  cellpadding="0"
                  cellspacing="0">
                  <thead class="table__header">
                    <tr class="table__row">
                      <th
                        class="table__cell table__cell--header null table__cell--medium"></th>
                      <th
                        class="table__cell table__cell--header null table__cell--small"
                        title="Website">
                        Website
                      </th>
                      <th
                        class="table__cell table__cell--header null table__cell--small"
                        title="Android">
                        Android
                      </th>
                      <th
                        class="table__cell table__cell--header null table__cell--small"
                        title="iOS">
                        iOS
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        SDK Setup
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Track Users
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Track Events
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="tooltip_wrapper tooltip--inline">
                          <div class="tooltip_target tooltip--inline">
                            <span class="cursor-help"
                              ><span
                                class="status-label status-label--success text-uppercase"
                                >success</span
                              ></span
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <div>
            <h5 class="display-inline-block">Channel Integration Status</h5>
          </div>
        </div>
        <div class="card__content no-padding overflow-visible min-height-auto">
          <div class="table-border-horizontal">
            <div class="table__container__container undefined">
              <div class="table__container overflow-visible funnel-list">
                <table
                  class="table__block undefined"
                  cellpadding="0"
                  cellspacing="0">
                  <thead class="table__header">
                    <tr class="table__row">
                      <th
                        class="table__cell table__cell--header null table__cell--medium"></th>
                      <th
                        class="table__cell table__cell--header null table__cell--xxlarge"
                        title="Status">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        In-app Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Push Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        On-site Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Web Push Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        SMS Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Email Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        WhatsApp Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Web Personalization Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        App In-line Setup
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--success text-uppercase"
                            >success</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Google Adwords
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--warning text-uppercase"
                            >pending</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        Facebook
                      </td>
                      <td
                        class="table__cell table__cell--xxlarge table__cell--content-text">
                        <div class="display-flex">
                          <span
                            class="status-label status-label--warning text-uppercase"
                            >pending</span
                          ><label
                            class="cursor-pointer margin-left-auto text-primary no-decoration"
                            >Configure</label
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <div class="display-flex align-items-center">
            <h5 class="display-inline-block">Rest API</h5>
            <label
              class="cursor-pointer margin-left-auto text-primary no-decoration"
              >View</label
            >
          </div>
        </div>
        <div
          class="card__content no-padding overflow-visible min-height-auto"></div>
      </div>
      <div class="card">
        <div class="card__header">
          <div class="display-flex align-items-center">
            <h5 class="display-inline-block">Webhooks</h5>
            <a
              href="/publisher/webhooks/~7167dbc0"
              target="_self"
              class="text-primary no-decoration margin-left-auto"
              ><label class="cursor-pointer text-primary no-decoration"
                >Configure</label
              ></a
            >
          </div>
        </div>
        <div
          class="card__content no-padding overflow-visible min-height-auto"></div>
      </div>
    </div>
  </div>
</div>
