<div class="flex flex-col flex-auto min-w-0">
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center">
        <h4 class="float-left">Data Management</h4>
      </div>
      <ul class="tab-list clearfix">
        <li class="tab-list__element">
          <a
            class="tab-list__link tab-list__link--active"
            aria-current="page"
            href="/accounts/~7167dbc0/data-management/system/attributes"
            >System Attributes</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/data-management/users/attributes"
            >User Profile Attributes</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/data-management/events/attributes"
            >Custom Events</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/data-management/business-events/"
            >Business Events</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/data-management/users/upload"
            >Upload User Data</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/data-management/events/upload"
            >Upload Events Data</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/~7167dbc0/data-management/events/revenue"
            >Revenue Mapping</a
          >
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="card">
        <div
          class="card__content user-channel-blocks no-padding table-overflow-visible min-height-auto">
          <div class="table-border-horizontal">
            <div class="table__container__container undefined">
              <div class="table__container">
                <table
                  class="table__block table--without-title"
                  cellpadding="0"
                  cellspacing="0">
                  <thead class="table__header">
                    <tr class="table__row">
                      <th
                        class="table__cell table__cell--header null table__cell--medium"
                        title="SYSTEM ATTRIBUTES">
                        SYSTEM ATTRIBUTES
                      </th>
                      <th
                        class="table__cell table__cell--header null table__cell--small">
                        <div>
                          is PII?
                          <span
                            class="tooltip-top data-tooltip--size-medium"
                            data-tooltip='Value of attributes marked as PII will be masked in the dashboard for those team members who do not have access to View PII functionality eg. If "email" is marked as PII, then the actual email address of all your users will be masked in the dashboard'
                            ><i class="fl-dark fl-info"></i
                          ></span>
                        </div>
                      </th>
                      <th
                        class="table__cell table__cell--header null table__cell--small"
                        title="DATA TYPE">
                        DATA TYPE
                      </th>
                      <th
                        class="table__cell table__cell--header null table__cell--small">
                        <div class="">action</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Advertising ID"
                          >Advertising ID</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII">
                          PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Advertising ID"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Android ID"
                          >Android ID</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII">
                          PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Android ID"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Id"
                          >Campaign Id</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Id"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Medium"
                          >Campaign Medium</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Medium"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Source"
                          >Campaign Source</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Source"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Date of Birth"
                          >Date of Birth</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Date of Birth"
                          >Date</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Device ID"
                          >Device ID</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Device ID"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Email Address"
                          >Email Address</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Email Address"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="First Name"
                          >First Name</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII">
                          PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="First Name"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="IP"
                          >IP</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="IP"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Landing Page"
                          >Landing Page</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Landing Page"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Last Name"
                          >Last Name</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Last Name"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Latitude"
                          >Latitude</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Latitude"
                          >Number</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Longitude"
                          >Longitude</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Longitude"
                          >Number</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Phone Number"
                          >Phone Number</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Phone Number"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Referrer Host"
                          >Referrer Host</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Referrer Host"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Referrer URL"
                          >Referrer URL</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Referrer URL"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Vendor ID"
                          >Vendor ID</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="PII"
                          >Not PII</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Vendor ID"
                          >String</span
                        >
                      </td>
                      <td
                        class="table__cell table__cell--small table__cell--content-text">
                        <div class="">
                          <span
                            class="tooltip-left data-tooltip--size-large padding-top-xl"
                            data-tooltip="This action requires you to have access to Account Management. Please contact your project admin for access."
                            ><div class="pop-over">
                              <div class="pop-over__head">
                                <i class="fl-vert-more fl-dark"></i>
                              </div></div
                          ></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="table__container table__container-fixed undefined"
                style="width: 538px">
                <table
                  class="table__block table--without-title"
                  cellpadding="0"
                  cellspacing="0">
                  <thead class="table__header">
                    <tr
                      class="table__row"
                      style="height: 61px">
                      <th
                        class="table__cell table__cell--header null table__cell--medium"
                        title="SYSTEM ATTRIBUTES"
                        style="width: 538px">
                        SYSTEM ATTRIBUTES
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Advertising ID"
                          >Advertising ID</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Android ID"
                          >Android ID</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Id"
                          >Campaign Id</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Medium"
                          >Campaign Medium</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Campaign Source"
                          >Campaign Source</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Date of Birth"
                          >Date of Birth</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Device ID"
                          >Device ID</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Email Address"
                          >Email Address</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="First Name"
                          >First Name</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="IP"
                          >IP</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Landing Page"
                          >Landing Page</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Last Name"
                          >Last Name</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Latitude"
                          >Latitude</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Longitude"
                          >Longitude</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Phone Number"
                          >Phone Number</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Referrer Host"
                          >Referrer Host</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Referrer URL"
                          >Referrer URL</span
                        >
                      </td>
                    </tr>
                    <tr
                      class="table__row"
                      style="height: 65px">
                      <td
                        class="table__cell table__cell--medium table__cell--content-text">
                        <span
                          class="handle-text-overflow"
                          title="Vendor ID"
                          >Vendor ID</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
