<div class="flex flex-col flex-auto min-w-0">
  <!-- Main -->
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center">
        <h4 class="display-inline">Users</h4>
        <div class="tooltip_wrapper tooltip--inline">
          <div class="tooltip_target tooltip--inline">
            <i class="fl-info fl-dark"></i>
          </div>
        </div>
      </div>
      <ul class="tab-list clearfix">
        <li class="tab-list__element">
          <a
            class="tab-list__link tab-list__link--active"
            aria-current="page"
            href="/accounts/aa1326d6/users/overview"
            >Overview</a
          >
        </li>
        
        <li class="tab-list__element">
          <a class="tab-list__link" href="/accounts/aa1326d6/users/all"
            >List of Users</a
          >
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="row">
        <div class="col display-flex">
          <div class="card card--stats">
            <div class="display-flex flex-direction-column w-100">
              <div class="card__title flex-1">
                <div>
                  <label class="card__title__label"
                    >TOTAL USERS
                    <div class="tooltip_wrapper tooltip--inline">
                      <div class="tooltip_target tooltip--inline">
                        <i class="fl-info fl-dark"></i>
                      </div>
                    </div>
                    <span class="col flex-0 border-left- cd-pin-pos-data-card">
                      <button
                        class="button--no-style padding-top-xl padding-right-xl margin-left-auto"
                      >
                        <i class="fl-pin-large fl-dark"></i></button></span
                  ></label>
                </div>
                <h5 class="card__title__count">611,574</h5>
              </div>
              <div class="card__subtitles"></div>
            </div>
          </div>
        </div>
        <div class="col display-flex">
          <div class="card card--stats">
            <div class="display-flex flex-direction-column w-100">
              <div class="card__title flex-1">
                <div>
                  <label class="card__title__label"
                    >KNOWN USERS
                    <div class="tooltip_wrapper tooltip--inline">
                      <div class="tooltip_target tooltip--inline">
                        <i class="fl-info fl-dark"></i>
                      </div>
                    </div>
                    <span class="col flex-0 border-left- cd-pin-pos-data-card">
                      <button
                        class="button--no-style padding-top-xl padding-right-xl margin-left-auto"
                      >
                        <i class="fl-pin-large fl-dark"></i></button></span
                  ></label>
                </div>
                <h5 class="card__title__count">202,044</h5>
                <p
                  class="card__title__secondary-count text--intermediate values"
                >
                  33.04%
                </p>
              </div>
              <div class="card__subtitles"></div>
            </div>
          </div>
        </div>
        <div class="col display-flex">
          <div class="card card--stats">
            <div class="display-flex flex-direction-column w-100">
              <div class="card__title flex-1">
                <div>
                  <label class="card__title__label"
                    >MONTHLY ACTIVE USERS (MAU)
                    <div class="tooltip_wrapper tooltip--inline">
                      <div class="tooltip_target tooltip--inline">
                        <i class="fl-info fl-dark"></i>
                      </div>
                    </div>
                    <span class="col flex-0 cd-pin-pos-data-card">
                      <button
                        class="button--no-style padding-top-xl padding-right-xl margin-left-auto"
                      >
                        <i class="fl-pin-large fl-dark"></i></button></span
                  ></label>
                </div>
                <h5 class="card__title__count">32,995</h5>
              </div>
              <div class="card__subtitles">
                <div class="card__subtitle">
                  <span
                    ><label class="">WEB </label
                    ><span class="values">8,836</span></span
                  ><span class="card__icon"></span>
                </div>
                <div class="card__subtitle">
                  <span
                    ><label class="">ANDROID </label
                    ><span class="values">13,883</span></span
                  ><span class="card__icon"></span>
                </div>
                <div class="card__subtitle">
                  <span
                    ><label class="">iOS </label
                    ><span class="values">10,276</span></span
                  ><span class="card__icon"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <div class="row">
            <div class="col flex-1">
              <div class="row">
                <h5 class="col col-9">Activity (MAU, WAU, DAU)</h5>
                <div class="col flex-2 text-right">
                  <div class="pop-over smart-date">
                    <div class="pop-over__head">
                      <div>
                        <span>Last 7 days</span
                        ><i class="fl-chevron-bottom fl-dark"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col flex-1">
                  <div class="form__element react-select-wrapper-element">
                    <div class="pop-over">
                      <div class="pop-over__head">
                        <div>
                          <span>MAU</span
                          ><i class="fl-chevron-bottom fl-dark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col flex-0 border-left">
              <button class="button--no-style">
                <i class="fl-pin-large fl-dark"></i>
              </button>
            </div>
            <div class="col flex-0 margin-left-auto border-left">
              <i
                class="fl-download fl-dark cursor-pointer"
                title="download data as csv"
              ></i>
            </div>
            <div
              class="col flex-0 margin-left-auto border-left padding-left-xl"
            >
              <div class="row justify-content-end">
                <div class="pop-over">
                  <div class="pop-over__head">
                    <i class="fl-vert-more fl-dark"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content min-height-auto">
          <div id="line-chart" class="we-chart" data-highcharts-chart="3">
            <div
              id="highcharts-742uaw2-99"
              dir="ltr"
              class="highcharts-container"
              style="
                position: relative;
                overflow: hidden;
                width: 1553px;
                height: 400px;
                text-align: left;
                line-height: normal;
                z-index: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next',
                  Avenir, 'Segoe UI', 'Lucida Grande', 'Helvetica Neue',
                  Helvetica, 'Fira Sans', Roboto, Noto, 'Droid Sans', Cantarell,
                  Oxygen, Ubuntu, 'Franklin Gothic Medium', 'Century Gothic',
                  'Liberation Sans', sans-serif;
              "
            >
              <svg
                version="1.1"
                class="highcharts-root"
                style="
                  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next',
                    'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue',
                    'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans',
                    'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium',
                    'Century Gothic', 'Liberation Sans', sans-serif;
                  font-size: 12px;
                "
                xmlns="http://www.w3.org/2000/svg"
                width="1553"
                height="400"
                viewBox="0 0 1553 400"
              >
                <desc>Created with Highcharts 6.2.0</desc>
                <defs>
                  <clipPath id="highcharts-742uaw2-100">
                    <rect
                      x="0"
                      y="0"
                      width="1326"
                      height="352"
                      fill="none"
                    ></rect>
                  </clipPath>
                </defs>
                <rect
                  fill="#ffffff"
                  class="highcharts-background"
                  x="0"
                  y="0"
                  width="1553"
                  height="400"
                  rx="0"
                  ry="0"
                ></rect>
                <rect
                  fill="none"
                  class="highcharts-plot-background"
                  x="69"
                  y="10"
                  width="1326"
                  height="352"
                ></rect>
                <g
                  class="highcharts-grid highcharts-xaxis-grid"
                  data-z-index="1"
                >
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 68.5 10 L 68.5 362"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 289.5 10 L 289.5 362"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 510.5 10 L 510.5 362"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 731.5 10 L 731.5 362"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 952.5 10 L 952.5 362"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 1173.5 10 L 1173.5 362"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 1394.5 10 L 1394.5 362"
                    opacity="1"
                  ></path>
                </g>
                <g
                  class="highcharts-grid highcharts-yaxis-grid"
                  data-z-index="1"
                >
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 362.5 L 1395 362.5"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 303.5 L 1395 303.5"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 245.5 L 1395 245.5"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 186.5 L 1395 186.5"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 127.5 L 1395 127.5"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 69.5 L 1395 69.5"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    stroke="#e6e6e6"
                    stroke-width="1"
                    data-z-index="1"
                    class="highcharts-grid-line"
                    d="M 69 9.5 L 1395 9.5"
                    opacity="1"
                  ></path>
                </g>
                <rect
                  fill="none"
                  class="highcharts-plot-border"
                  data-z-index="1"
                  x="69"
                  y="10"
                  width="1326"
                  height="352"
                ></rect>
                <g class="highcharts-axis highcharts-xaxis" data-z-index="2">
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 68.5 362 L 68.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 289.5 362 L 289.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 510.5 362 L 510.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 731.5 362 L 731.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 952.5 362 L 952.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 1173.5 362 L 1173.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-tick"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    d="M 1395.5 362 L 1395.5 372"
                    opacity="1"
                  ></path>
                  <path
                    fill="none"
                    class="highcharts-axis-line"
                    stroke="#ccd6eb"
                    stroke-width="1"
                    data-z-index="7"
                    d="M 69 362.5 L 1395 362.5"
                  ></path>
                </g>
                <g class="highcharts-axis highcharts-yaxis" data-z-index="2">
                  <text
                    x="26.140625"
                    data-z-index="7"
                    text-anchor="middle"
                    transform="translate(0,0) rotate(270 26.140625 186)"
                    class="highcharts-axis-title"
                    style="color: #666666; fill: #666666"
                    y="186"
                  >
                    <tspan>Monthly Active Users (MAU)</tspan>
                  </text>
                  <path
                    fill="none"
                    class="highcharts-axis-line"
                    data-z-index="7"
                    d="M 69 10 L 69 362"
                  ></path>
                </g>
                <g class="highcharts-series-group" data-z-index="3">
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-0 highcharts-line-series highcharts-color-0"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-742uaw2-100)"
                  >
                    <path
                      fill="none"
                      d="M 0 23.52533333333332 L 221 23.595733333333328 L 442 23.38453333333331 L 663 23.372799999999984 L 884 23.408000000000015 L 1105 23.302399999999977 L 1326 23.52533333333332"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#FD578D"
                      stroke-width="2"
                      stroke-dasharray="6,2"
                    ></path>
                    <path
                      fill="none"
                      d="M -10 23.52533333333332 L 0 23.52533333333332 L 221 23.595733333333328 L 442 23.38453333333331 L 663 23.372799999999984 L 884 23.408000000000015 L 1105 23.302399999999977 L 1326 23.52533333333332 L 1336 23.52533333333332"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-0 highcharts-line-series highcharts-color-0 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)"
                  >
                    <path
                      fill="#FD578D"
                      visibility="hidden"
                      d="M 221 23.595733333333328 A 0 0 0 1 1 221 23.595733333333328 Z"
                      class="highcharts-halo highcharts-color-0"
                      data-z-index="-1"
                      fill-opacity="0.25"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 4 23.52533333333332 A 4 4 0 1 1 3.9999980000001667 23.521333333999987 Z"
                      class="highcharts-point highcharts-color-0"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 225 23.595733333333328 A 4 4 0 1 1 224.99999800000018 23.591733333999994 Z"
                      class="highcharts-point highcharts-color-0"
                      stroke-width="0.00035526367970539763"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 446 23.38453333333331 A 4 4 0 1 1 445.9999980000002 23.380533333999974 Z"
                      class="highcharts-point highcharts-color-0"
                      stroke-width="0.0039426493427611176"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 667 23.372799999999984 A 4 4 0 1 1 666.9999980000001 23.36880000066665 Z"
                      class="highcharts-point highcharts-color-0"
                      stroke-width="0.000007835380379628276"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 888 23.408000000000015 A 4 4 0 1 1 887.9999980000001 23.40400000066668 Z"
                      class="highcharts-point highcharts-color-0"
                      stroke-width="0.000001398469010524539"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 1109 23.302399999999977 A 4 4 0 1 1 1108.9999980000002 23.298400000666643 Z"
                      class="highcharts-point highcharts-color-0"
                    ></path>
                    <path
                      fill="#FD578D"
                      d="M 1330 23.52533333333332 A 4 4 0 1 1 1329.9999980000002 23.521333333999987 Z"
                      class="highcharts-point highcharts-color-0"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-1 highcharts-line-series highcharts-color-1"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-742uaw2-100)"
                  >
                    <path
                      fill="none"
                      d="M 0 307.63626666666664 L 221 307.6128 L 442 307.53066666666666 L 663 307.53066666666666 L 884 307.14346666666665 L 1105 306.8384 L 1326 306.9909333333333"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#008BFA"
                      stroke-width="2"
                      stroke-dasharray="6,2"
                    ></path>
                    <path
                      fill="none"
                      d="M -10 307.63626666666664 L 0 307.63626666666664 L 221 307.6128 L 442 307.53066666666666 L 663 307.53066666666666 L 884 307.14346666666665 L 1105 306.8384 L 1326 306.9909333333333 L 1336 306.9909333333333"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-1 highcharts-line-series highcharts-color-1 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)"
                  >
                    <path
                      fill="#008BFA"
                      visibility="hidden"
                      d="M 360 307.53066666666666 A 0 0 0 1 1 360 307.53066666666666 Z"
                      class="highcharts-halo highcharts-color-1"
                      data-z-index="-1"
                      fill-opacity="0.25"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 4 307.63626666666664 A 4 4 0 1 1 3.9999980000001667 307.6322666673333 Z"
                      class="highcharts-point highcharts-color-1"
                      stroke-width="0.002031453757561974"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 225 307.6128 A 4 4 0 1 1 224.99999800000018 307.60880000066663 Z"
                      class="highcharts-point highcharts-color-1"
                      stroke-width="0.000009782163304938862"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 446 307.53066666666666 A 4 4 0 1 1 445.9999980000002 307.5266666673333 Z"
                      class="highcharts-point highcharts-color-1"
                      stroke-width="0.0000038755783706399816"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 667 307.53066666666666 A 4 4 0 1 1 666.9999980000001 307.5266666673333 Z"
                      class="highcharts-point highcharts-color-1"
                      stroke-width="0.0000021736733387713036"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 888 307.14346666666665 A 4 4 0 1 1 887.9999980000001 307.1394666673333 Z"
                      class="highcharts-point highcharts-color-1"
                      stroke-width="0.000007156869391622411"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 1109 306.8384 A 4 4 0 1 1 1108.9999980000002 306.8344000006666 Z"
                      class="highcharts-point highcharts-color-1"
                    ></path>
                    <path
                      fill="#008BFA"
                      d="M 1330 306.9909333333333 A 4 4 0 1 1 1329.9999980000002 306.98693333399996 Z"
                      class="highcharts-point highcharts-color-1"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-2 highcharts-line-series highcharts-color-2"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-742uaw2-100)"
                  >
                    <path
                      fill="none"
                      d="M 0 247.5264 L 221 247.53813333333335 L 442 247.04533333333333 L 663 247.08053333333334 L 884 247.60853333333333 L 1105 247.67893333333333 L 1326 247.77280000000002"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#FFC107"
                      stroke-width="2"
                      stroke-dasharray="6,2"
                    ></path>
                    <path
                      fill="none"
                      d="M -10 247.5264 L 0 247.5264 L 221 247.53813333333335 L 442 247.04533333333333 L 663 247.08053333333334 L 884 247.60853333333333 L 1105 247.67893333333333 L 1326 247.77280000000002 L 1336 247.77280000000002"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-2 highcharts-line-series highcharts-color-2 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)"
                  >
                    <path
                      fill="#FFC107"
                      visibility="hidden"
                      d="M 180 247.53813333333335 A 0 0 0 1 1 180 247.53813333333335 Z"
                      class="highcharts-halo highcharts-color-2"
                      data-z-index="-1"
                      fill-opacity="0.25"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 4 247.5264 A 4 4 0 1 1 3.9999980000001667 247.52240000066666 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.00003464251601589807"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 225 247.53813333333335 A 4 4 0 1 1 224.99999800000018 247.53413333400002 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.000018499530180404733"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 446 247.04533333333333 A 4 4 0 1 1 445.9999980000002 247.041333334 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.0019331954284137476"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 667 247.08053333333334 A 4 4 0 1 1 666.9999980000001 247.076533334 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.0010319753999025183"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 888 247.60853333333333 A 4 4 0 1 1 887.9999980000001 247.604533334 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.00010310060761088702"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 1109 247.67893333333333 A 4 4 0 1 1 1108.9999980000002 247.674933334 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.00006220850262922406"
                    ></path>
                    <path
                      fill="#FFC107"
                      d="M 1330 247.77280000000002 A 4 4 0 1 1 1329.9999980000002 247.7688000006667 Z"
                      class="highcharts-point highcharts-color-2"
                      stroke-width="0.000006913693352275652"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-series highcharts-series-3 highcharts-line-series highcharts-color-3"
                    transform="translate(69,10) scale(1 1)"
                    clip-path="url(#highcharts-742uaw2-100)"
                  >
                    <path
                      fill="none"
                      d="M 0 289.68426666666664 L 221 289.7664 L 442 290.13013333333333 L 663 290.0832 L 884 289.9776 L 1105 290.1066666666667 L 1326 290.0949333333333"
                      class="highcharts-graph"
                      data-z-index="1"
                      stroke="#58FDA1"
                      stroke-width="2"
                      stroke-dasharray="6,2"
                    ></path>
                    <path
                      fill="none"
                      d="M -10 289.68426666666664 L 0 289.68426666666664 L 221 289.7664 L 442 290.13013333333333 L 663 290.0832 L 884 289.9776 L 1105 290.1066666666667 L 1326 290.0949333333333 L 1336 290.0949333333333"
                      stroke-linejoin="round"
                      stroke="rgba(192,192,192,0.0001)"
                      stroke-width="22"
                      visibility="visible"
                      data-z-index="2"
                      class="highcharts-tracker-line"
                    ></path>
                  </g>
                  <g
                    data-z-index="0.1"
                    class="highcharts-markers highcharts-series-3 highcharts-line-series highcharts-color-3 highcharts-tracker"
                    transform="translate(69,10) scale(1 1)"
                  >
                    <path
                      fill="#58FDA1"
                      visibility="hidden"
                      d="M 180 289.7664 A 0 0 0 1 1 180 289.7664 Z"
                      class="highcharts-halo highcharts-color-3"
                      data-z-index="-1"
                      fill-opacity="0.25"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 4 289.68426666666664 A 4 4 0 1 1 3.9999980000001667 289.6802666673333 Z"
                      class="highcharts-point highcharts-color-3"
                      stroke-width="0.000018499530180404733"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 225 289.7664 A 4 4 0 1 1 224.99999800000018 289.7624000006666 Z"
                      class="highcharts-point highcharts-color-3"
                      stroke-width="0.00015790535835003006"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 446 290.13013333333333 A 4 4 0 1 1 445.9999980000002 290.126133334 Z"
                      class="highcharts-point highcharts-color-3"
                      stroke-width="0.00002231459318244658"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 667 290.0832 A 4 4 0 1 1 666.9999980000001 290.0792000006666 Z"
                      class="highcharts-point highcharts-color-3"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 888 289.9776 A 4 4 0 1 1 887.9999980000001 289.97360000066664 Z"
                      class="highcharts-point highcharts-color-3"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 1109 290.1066666666667 A 4 4 0 1 1 1108.9999980000002 290.1026666673333 Z"
                      class="highcharts-point highcharts-color-3"
                    ></path>
                    <path
                      fill="#58FDA1"
                      d="M 1330 290.0949333333333 A 4 4 0 1 1 1329.9999980000002 290.09093333399994 Z"
                      class="highcharts-point highcharts-color-3"
                    ></path>
                  </g>
                </g>
                <g class="highcharts-exporting-group" data-z-index="3"></g>
                <text
                  x="777"
                  text-anchor="middle"
                  class="highcharts-title"
                  data-z-index="4"
                  style="color: #333333; font-size: 18px; fill: #333333"
                  y="24"
                ></text>
                <text
                  x="777"
                  text-anchor="middle"
                  class="highcharts-subtitle"
                  data-z-index="4"
                  style="color: #666666; fill: #666666"
                  y="24"
                ></text>
                <g
                  class="highcharts-legend"
                  data-z-index="7"
                  transform="translate(1425,118)"
                >
                  <rect
                    fill="none"
                    class="highcharts-legend-box"
                    rx="0"
                    ry="0"
                    x="0"
                    y="0"
                    width="118"
                    height="159"
                    visibility="visible"
                  ></rect>
                  <g data-z-index="1">
                    <g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-0 highcharts-series-0"
                        data-z-index="1"
                        transform="translate(8,3)"
                      >
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#FD578D"
                          stroke-width="2"
                        ></path>
                        <path
                          fill="#FD578D"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"
                        ></path>
                        <text
                          x="21"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2"
                          y="26"
                        >
                          <tspan>Overall</tspan>
                        </text>
                      </g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-1 highcharts-series-1"
                        data-z-index="1"
                        transform="translate(8,40)"
                      >
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#008BFA"
                          stroke-width="2"
                        ></path>
                        <path
                          fill="#008BFA"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"
                        ></path>
                        <text
                          x="21"
                          y="26"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2"
                        >
                          <tspan>Web</tspan>
                        </text>
                      </g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-2 highcharts-series-2"
                        data-z-index="1"
                        transform="translate(8,77)"
                      >
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#FFC107"
                          stroke-width="2"
                        ></path>
                        <path
                          fill="#FFC107"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"
                        ></path>
                        <text
                          x="21"
                          y="26"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2"
                        >
                          <tspan>Android</tspan>
                        </text>
                      </g>
                      <g
                        class="highcharts-legend-item highcharts-line-series highcharts-color-3 highcharts-series-3"
                        data-z-index="1"
                        transform="translate(8,114)"
                      >
                        <path
                          fill="none"
                          d="M 0 22 L 16 22"
                          class="highcharts-graph"
                          stroke-dasharray="6,2"
                          stroke="#58FDA1"
                          stroke-width="2"
                        ></path>
                        <path
                          fill="#58FDA1"
                          d="M 12 22 A 4 4 0 1 1 11.999998000000167 21.996000000666665 Z"
                          class="highcharts-point"
                        ></path>
                        <text
                          x="21"
                          y="26"
                          style="
                            color: #81838c;
                            font-size: 13px;
                            font-weight: normal;
                            cursor: pointer;
                            overflow: hidden;
                            white-space: nowrap;
                            fill: #81838c;
                          "
                          text-anchor="start"
                          data-z-index="2"
                        >
                          <tspan>iOS</tspan>
                        </text>
                      </g>
                    </g>
                  </g>
                </g>
                <g
                  class="highcharts-axis-labels highcharts-xaxis-labels"
                  data-z-index="7"
                >
                  <text
                    x="69"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>28 Sep</tspan>
                  </text>
                  <text
                    x="290"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>29 Sep</tspan>
                  </text>
                  <text
                    x="511"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>30 Sep</tspan>
                  </text>
                  <text
                    x="732"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>1 Oct</tspan>
                  </text>
                  <text
                    x="953"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>2 Oct</tspan>
                  </text>
                  <text
                    x="1174"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>3 Oct</tspan>
                  </text>
                  <text
                    x="1395"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="middle"
                    transform="translate(0,0)"
                    y="381"
                    opacity="1"
                  >
                    <tspan>4 Oct</tspan>
                  </text>
                </g>
                <g
                  class="highcharts-axis-labels highcharts-yaxis-labels"
                  data-z-index="7"
                >
                  <text
                    x="0"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="-9999"
                  >
                    5k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="307"
                    opacity="1"
                  >
                    10k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="248"
                    opacity="1"
                  >
                    15k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="190"
                    opacity="1"
                  >
                    20k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="131"
                    opacity="1"
                  >
                    25k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="72"
                    opacity="1"
                  >
                    30k
                  </text>
                  <text
                    x="54"
                    style="
                      color: #666666;
                      cursor: default;
                      font-size: 11px;
                      fill: #666666;
                    "
                    text-anchor="end"
                    transform="translate(0,0)"
                    y="14"
                    opacity="1"
                  >
                    35k
                  </text>
                </g>
                <g
                  class="highcharts-label highcharts-tooltip highcharts-color-0"
                  style="pointer-events: none; white-space: nowrap"
                  data-z-index="8"
                  transform="translate(230,-9999)"
                  opacity="0"
                  visibility="visible"
                ></g>
              </svg>
              <div
                class="highcharts-label highcharts-tooltip highcharts-color-0"
                style="
                  position: absolute;
                  left: 230px;
                  top: -9999px;
                  opacity: 0;
                  pointer-events: none;
                  visibility: visible;
                "
              >
                <span
                  data-z-index="1"
                  style="
                    font-family: -apple-system, BlinkMacSystemFont,
                      'Avenir Next', Avenir, 'Segoe UI', 'Lucida Grande',
                      'Helvetica Neue', Helvetica, 'Fira Sans', Roboto, Noto,
                      'Droid Sans', Cantarell, Oxygen, Ubuntu,
                      'Franklin Gothic Medium', 'Century Gothic',
                      'Liberation Sans', sans-serif;
                    font-size: 12px;
                    position: absolute;
                    white-space: nowrap;
                    color: rgb(255, 255, 255);
                    cursor: default;
                    margin-left: 0px;
                    margin-top: 0px;
                    left: 0px;
                    top: 0px;
                  "
                  ><span style="font-size: 10px">29 Sep</span><br /><span
                    style="color: #fd578d"
                    >●</span
                  >
                  Overall: <b>32,989</b><br
                /></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <h5 class="">
            <div class="row">
              Channel Reachability
              <div class="tooltip_wrapper tooltip--inline">
                <div class="tooltip_target tooltip--inline">
                  <i class="fl-info fl-dark"></i>
                </div>
              </div>
              <div class="col flex-0 border-left margin-left-auto">
                <button class="button--no-style">
                  <i class="fl-pin-large fl-dark"></i>
                </button>
              </div>
              <span class="col flex-0 margin-left-auto- border-left"
                ><i
                  class="fl-download fl-dark cursor-pointer"
                  title="download data as csv"
                ></i
              ></span>
            </div>
          </h5>
        </div>
        <div class="card__content no-padding min-height-auto">
          <div class="table-border-horizontal">
            <div class="table__container__container undefined">
              <div class="table__container">
                <table
                  class="table__block undefined"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <thead class="table__header">
                    <tr class="table__row">
                      <th class="table__cell table__cell--header null"></th>
                      <th
                        class="table__cell table__cell--header null"
                        title="REACHABILITY"
                      >
                        REACHABILITY
                      </th>
                      <th
                        class="table__cell table__cell--header null"
                        title="REACHABILITY (#)"
                      >
                        REACHABILITY (#)
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Push
                      </td>
                      <td class="table__cell table__cell--content-text">
                        50.45%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        308,558
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        In-app
                      </td>
                      <td class="table__cell table__cell--content-text">
                        3.77%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        23,048
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">SMS</td>
                      <td class="table__cell table__cell--content-text">
                        21.96%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        134,292
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        On-site Notification
                      </td>
                      <td class="table__cell table__cell--content-text">
                        1.45%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        8,863
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Web Push
                      </td>
                      <td class="table__cell table__cell--content-text">
                        9.81%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        60,005
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Web Personalization
                      </td>
                      <td class="table__cell table__cell--content-text">
                        1.45%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        8,863
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        App In-line
                      </td>
                      <td class="table__cell table__cell--content-text">
                        3.77%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        23,048
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        Email
                      </td>
                      <td class="table__cell table__cell--content-text">
                        10.02%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        61,261
                      </td>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell table__cell--content-text">
                        WhatsApp
                      </td>
                      <td class="table__cell table__cell--content-text">
                        32.3%
                      </td>
                      <td class="table__cell table__cell--content-text">
                        197,519
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="table__row">
                      <td
                        class="table__cell table__cell--footer table__cell--content-text"
                      >
                        Overall
                      </td>
                      <td
                        class="table__cell table__cell--footer table__cell--content-text"
                      >
                        83%
                      </td>
                      <td
                        class="table__cell table__cell--footer table__cell--content-text"
                      >
                        507,629
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
