<div class="flex flex-col flex-auto min-w-0">
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center"><h4>DND</h4></div>
    </header>
    <div class="container">
      <div>
        <div class="card">
          <div class="card__content overflow-visible min-height-auto">
            <div>
              <p class="margin-bottom-xl">
                Avoid disturbing your users with messages during odd hours by
                specifying the DND (Do Not Disturb) time slots when messages
                should not be delivered. Please note that DND does not apply to
                In-app and On-site campaigns.
              </p>
              <div class="row margin-top-xl pos-relative padding-right-x">
                <div class="col-12 padding-right-xxl">
                  <div class="flex-1">
                    <div class="row undefined">
                      <div class="col col-2">
                        <div class="form__element react-select-wrapper-element">
                          <div
                            class="Select field--type-select undefined has-value Select--single">
                            <input
                              name="disable AutoCompleted"
                              type="hidden"
                              value="DAILY" />
                            <div class="Select-control">
                              <div
                                class="Select-multi-value-wrapper"
                                id="react-select-16--value">
                                <div class="Select-value">
                                  <span
                                    class="Select-value-label"
                                    role="option"
                                    aria-selected="true"
                                    id="react-select-16--value-item"
                                    >Daily</span
                                  >
                                </div>
                                <div
                                  aria-expanded="false"
                                  aria-owns=""
                                  aria-activedescendant="react-select-16--value"
                                  aria-disabled="false"
                                  class="Select-input"
                                  role="combobox"
                                  tabindex="0"
                                  style="
                                    border: 0px;
                                    width: 1px;
                                    display: inline-block;
                                  "></div>
                              </div>
                              <span class="Select-arrow-zone"
                                ><span class="Select-arrow"></span
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="col-auto flex-0 text-center padding-top-x"
                        >from</span
                      >
                      <div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              &nbsp;
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-hours"
                                      type="hidden"
                                      value="11" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-17--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-17--value-item"
                                            >11</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-17--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <span class="align-items-center">:</span>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-minutes"
                                      type="hidden"
                                      value="00" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-18--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-18--value-item"
                                            >00</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-18--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-wrapper"
                                      type="hidden"
                                      value="pm" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-19--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-19--value-item"
                                            >pm</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-19--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="col-auto flex-0 text-center padding-top-x"
                        >to</span
                      >
                      <div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              &nbsp;
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-hours"
                                      type="hidden"
                                      value="6" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-20--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-20--value-item"
                                            >6</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-20--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <span class="align-items-center">:</span>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-minutes"
                                      type="hidden"
                                      value="00" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-21--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-21--value-item"
                                            >00</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-21--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-wrapper"
                                      type="hidden"
                                      value="am" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-22--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-22--value-item"
                                            >am</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-22--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="no-padding-left"
                        style="padding-top: 4px"></div>
                    </div>
                  </div>
                </div>
                <div class="dnd-abs">
                  <span class="fl-delete fl-dark cursor-pointer"></span>
                </div>
              </div>
              <div class="row margin-top-xl pos-relative padding-right-x">
                <div class="col-12 padding-right-xxl">
                  <div class="flex-1">
                    <div class="row undefined">
                      <div class="col col-2">
                        <div class="form__element react-select-wrapper-element">
                          <div
                            class="Select field--type-select undefined has-value Select--single">
                            <input
                              name="disable AutoCompleted"
                              type="hidden"
                              value="WEEKEND" />
                            <div class="Select-control">
                              <div
                                class="Select-multi-value-wrapper"
                                id="react-select-23--value">
                                <div class="Select-value">
                                  <span
                                    class="Select-value-label"
                                    role="option"
                                    aria-selected="true"
                                    id="react-select-23--value-item"
                                    >Weekend</span
                                  >
                                </div>
                                <div
                                  aria-expanded="false"
                                  aria-owns=""
                                  aria-activedescendant="react-select-23--value"
                                  aria-disabled="false"
                                  class="Select-input"
                                  role="combobox"
                                  tabindex="0"
                                  style="
                                    border: 0px;
                                    width: 1px;
                                    display: inline-block;
                                  "></div>
                              </div>
                              <span class="Select-arrow-zone"
                                ><span class="Select-arrow"></span
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="col-auto flex-0 text-center padding-top-x"
                        >from</span
                      >
                      <div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              &nbsp;
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-hours"
                                      type="hidden"
                                      value="10" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-24--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-24--value-item"
                                            >10</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-24--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <span class="align-items-center">:</span>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-minutes"
                                      type="hidden"
                                      value="00" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-25--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-25--value-item"
                                            >00</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-25--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-wrapper"
                                      type="hidden"
                                      value="pm" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-26--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-26--value-item"
                                            >pm</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-26--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="col-auto flex-0 text-center padding-top-x"
                        >to</span
                      >
                      <div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              &nbsp;
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-hours"
                                      type="hidden"
                                      value="6" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-27--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-27--value-item"
                                            >6</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-27--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <span class="align-items-center">:</span>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-minutes"
                                      type="hidden"
                                      value="00" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-28--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-28--value-item"
                                            >00</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-28--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <div
                                  class="form__element form__element--flex react-select-wrapper-element">
                                  <div
                                    class="Select field--type-select min-w-70 max-w-70 has-value Select--single">
                                    <input
                                      name="react-select-wrapper"
                                      type="hidden"
                                      value="am" />
                                    <div class="Select-control">
                                      <div
                                        class="Select-multi-value-wrapper"
                                        id="react-select-29--value">
                                        <div class="Select-value">
                                          <span
                                            class="Select-value-label"
                                            role="option"
                                            aria-selected="true"
                                            id="react-select-29--value-item"
                                            >am</span
                                          >
                                        </div>
                                        <div
                                          aria-expanded="false"
                                          aria-owns=""
                                          aria-activedescendant="react-select-29--value"
                                          aria-disabled="false"
                                          class="Select-input"
                                          role="combobox"
                                          tabindex="0"
                                          style="
                                            border: 0px;
                                            width: 1px;
                                            display: inline-block;
                                          "></div>
                                      </div>
                                      <span class="Select-arrow-zone"
                                        ><span class="Select-arrow"></span
                                      ></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="no-padding-left"
                        style="padding-top: 4px"></div>
                    </div>
                  </div>
                </div>
                <div class="dnd-abs">
                  <span class="fl-delete fl-dark cursor-pointer"></span>
                </div>
              </div>
              <button
                class="button button--secondary margin-top-xl margin-bottom-xs">
                ADD NEW DND TIME SLOT
              </button>
            </div>
          </div>
        </div>
        <div class="footer justify-content-end">
          <button
            class="button button--primary margin-left-auto"
            title="Oi">
            Save
          </button>
        </div>
        <div class="last-child"></div>
      </div>
    </div>
  </div>
</div>
