<div class="flex flex-col flex-auto min-w-0">
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center">
        <div class="display-flex w-50 align-items-center">
          <h4 class="display-inline-block">WhatsApp</h4>
          <a
            class="text-primary no-decoration"
            href="/accounts/aa1326d6/whatsapp-messages/campaigns/create"
            ><i class="fl-add-circle subhead__action"></i
          ></a>
        </div>
      </div>
      <ul class="tab-list clearfix">
        <li class="tab-list__element">
          <a
            class="tab-list__link"
            href="/accounts/aa1326d6/whatsapp-messages/overview/all"
            >Overview</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link tab-list__link--active"
            aria-current="page"
            href="/accounts/aa1326d6/whatsapp-messages/campaign-list/all"
            >List of Campaigns</a
          >
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="card">
        <div class="card__header no-padding">
          <div class="align-items-center">
            <div
              class="display-flex flex-direction-row justify-content-start align-items-center padding-bottom-m padding-left-xxl padding-top-m">
              <div class="flex-direction-row display-flex align-items-center">
                <div class="margin-right-xl">
                  <span
                    ><div class="pop-over">
                      <div class="pop-over__head">
                        <span class=" ">Type</span
                        ><i class="fl-chevron-bottom fl-dark"></i>
                      </div></div
                  ></span>
                </div>
                <div class="margin-right-xl">
                  <span
                    ><div class="pop-over">
                      <div class="pop-over__head">
                        <span class=" "
                          ><span
                            >Status
                            <span
                              class="count-badge count-badge--active margin-left-0"
                              >1</span
                            ></span
                          ></span
                        ><i class="fl-chevron-bottom fl-dark"></i>
                      </div></div
                  ></span>
                </div>
                <div class="margin-right-xl">
                  <span
                    ><div class="pop-over">
                      <div class="pop-over__head">
                        <span class=" ">Tags</span
                        ><i class="fl-chevron-bottom fl-dark"></i>
                      </div></div
                  ></span>
                </div>
              </div>
            </div>
            <div
              class="col-4 margin-left-auto padding-right-250 padding-left-0">
              <div class="row">
                <div class="col">
                  <div class="search">
                    <i class="fl-search"></i>
                    <div class="form__element react-select-wrapper-element">
                      <div
                        class="Select field--type-select undefined is-clearable is-searchable Select--single">
                        <div class="Select-control">
                          <div
                            class="Select-multi-value-wrapper"
                            id="react-select-9--value">
                            <div class="Select-placeholder">
                              Search by campaign name
                            </div>
                            <div
                              class="Select-input"
                              style="display: inline-block">
                              <input
                                aria-activedescendant="react-select-9--value"
                                aria-expanded="false"
                                aria-haspopup="false"
                                aria-owns=""
                                role="combobox"
                                value=""
                                style="box-sizing: content-box; width: 5px" />
                              <div
                                style="
                                  position: absolute;
                                  top: 0px;
                                  left: 0px;
                                  visibility: hidden;
                                  height: 0px;
                                  overflow: scroll;
                                  white-space: pre;
                                  font-size: 13px;
                                  font-family: -apple-system, BlinkMacSystemFont,
                                    'Avenir Next', Avenir, 'Segoe UI',
                                    'Lucida Grande', 'Helvetica Neue', Helvetica,
                                    'Fira Sans', Roboto, Noto, 'Droid Sans',
                                    Cantarell, Oxygen, Ubuntu,
                                    'Franklin Gothic Medium', 'Century Gothic',
                                    'Liberation Sans', sans-serif;
                                  font-weight: 400;
                                  font-style: normal;
                                  letter-spacing: normal;
                                  text-transform: none;
                                "></div>
                            </div>
                          </div>
                          <span class="Select-arrow-zone"
                            ><span class="Select-arrow"></span
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col flex-0 padding-left-0">
              <span
                data-tooltip="This action requires you to have access to Account Management or Campaign Management. Please contact your project admin for access."
                class="no-decoration cursor-pointer is-disabled cursor-pointer tooltip-bottom data-tooltip--size-small display-block"
                ><i
                  class="fl-download subhead__action subhead__action--with-border no-border f21"></i
              ></span>
            </div>
            <div
              class="col flex-0 border-left"
              style="padding: 0px 5px">
              <span
                data-tooltip="This action requires you to have access to Account Management or Campaign Management. Please contact your project admin for access."
                class="no-decoration cursor-pointer is-disabled cursor-pointer tooltip-bottom data-tooltip--size-small display-block"
                ><i
                  class="fl-report subhead__action subhead__action--with-border no-border f35"></i
              ></span>
            </div>
            <div class="col flex-0 border-left">
              <div class="pop-over">
                <div class="pop-over__head">
                  <i class="fl-vert-more fl-dark"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__content no-padding overflow-visible min-height-auto">
          <div>
            <div>
              <div class="table-border-horizontal">
                <div class="table__container__container undefined">
                  <div
                    class="table__container"
                    style="margin-left: 450px; width: 1163px">
                    <table
                      class="table__block undefined"
                      cellpadding="0"
                      cellspacing="0"
                      style="margin-left: -450px">
                      <thead class="table__header">
                        <tr class="table__row">
                          <th
                            class="table__cell table__cell--header null table__cell--xxlarge"
                            title="Campaign name">
                            Campaign name
                          </th>
                          <th
                            class="table__cell table__cell--header null table__cell--small"
                            title="Type">
                            Type
                          </th>
                          <th
                            class="table__cell table__cell--header null"
                            title="Status">
                            Status
                          </th>
                          <th
                            class="table__cell table__cell--header null table__cell--medium"
                            title="Start date">
                            Start date
                          </th>
                          <th
                            class="table__cell table__cell--header null"
                            title="Delivered">
                            Delivered
                          </th>
                          <th
                            class="table__cell table__cell--header null"
                            title="Read">
                            Read
                          </th>
                          <th
                            class="table__cell table__cell--header null"
                            title="Unique Clicks">
                            Unique Clicks
                          </th>
                          <th
                            class="table__cell table__cell--header null"
                            title="Unique Conversions">
                            Unique Conversions
                          </th>
                          <th
                            class="table__cell table__cell--header null"
                            title="Revenue (INR)">
                            Revenue (INR)
                          </th>
                          <th
                            class="table__cell table__cell--header null table__cell--xxlarge"
                            title="Tags">
                            Tags
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/2k72p10/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            One-time
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            7 Feb '22, 01:11pm
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            -
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Cavin Kare "
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/pprqa2/overview"
                                  >Cavin Kare
                                </a></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            One-time
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            19 Jan '22, 03:09pm
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            -
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/3apb6g0/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            Transactional
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            5 Jan '22, 04:05pm
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            -
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="ImaginXP"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/37heigo/overview"
                                  >ImaginXP</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            One-time
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            23 Dec '21, 11:26am
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            -
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~6np1se/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            One-time
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            22 Dec '21, 10:42am
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            -
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~177ne9c/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            One-time
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            15 Dec '21, 02:39pm
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            -
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Course Purchased: Onboarding"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~1dnh1of/overview"
                                  >Course Purchased: Onboarding</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            Triggered
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            17 Jul '21, 03:30pm
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <span class="tag-pill-inline-block cursor-pointer"
                              ><span
                                class="tag-pill"
                                title="welcome"
                                ><span class="pill-wrapper"
                                  ><span
                                    class="pill-badge"
                                    style="
                                      background-color: rgb(157, 222, 66);
                                    "></span
                                  ><span class="pill-text"
                                    >welcom...</span
                                  ></span
                                ></span
                              ></span
                            >
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="WhatsApp GoDesi"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/3hc43mi/overview"
                                  >WhatsApp GoDesi</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            Recurring
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            24 Jun '21, 10:40am
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <span class="tag-pill-inline-block cursor-pointer"
                              ><span
                                class="tag-pill"
                                title="whatsapp"
                                ><span class="pill-wrapper"
                                  ><span
                                    class="pill-badge"
                                    style="
                                      background-color: rgb(238, 95, 191);
                                    "></span
                                  ><span class="pill-text"
                                    >whatsa...</span
                                  ></span
                                ></span
                              ></span
                            >
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Inactive users D30"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~2ra24pi/overview"
                                  >Inactive users D30</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            Triggered
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            10 Oct '21, 06:05pm
                          </td>
                          <td class="table__cell table__cell--content-number">
                            944,441
                          </td>
                          <td class="table__cell table__cell--content-text">
                            74.63%
                          </td>
                          <td class="table__cell table__cell--content-text">
                            7.35%
                          </td>
                          <td class="table__cell table__cell--content-text">
                            0%
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <span class="tag-pill-inline-block cursor-pointer"
                              ><span
                                class="tag-pill"
                                title="covid"
                                ><span class="pill-wrapper"
                                  ><span
                                    class="pill-badge"
                                    style="
                                      background-color: rgb(248, 222, 51);
                                    "></span
                                  ><span class="pill-text">covid</span></span
                                ></span
                              ></span
                            ><span
                              class="text-primary underline margin-left-xs cursor-pointer f12"
                              >+1 more</span
                            >
                          </td>
                        </tr>
                        <tr class="table__row">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Purchase complete message"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/1q9pen4/overview"
                                  >Purchase complete message</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                          <td
                            class="table__cell table__cell--small table__cell--content-text">
                            Transactional
                          </td>
                          <td class="table__cell table__cell--content-text">
                            <span class="status-label status-label--info"
                              >Running</span
                            >
                          </td>
                          <td
                            class="table__cell table__cell--medium table__cell--content-text">
                            22 Sep '20, 10:30am
                          </td>
                          <td class="table__cell table__cell--content-number">
                            0
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            -
                          </td>
                          <td class="table__cell table__cell--content-text">
                            ₹0
                          </td>
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <span class="tag-pill-inline-block cursor-pointer"
                              ><span
                                class="tag-pill"
                                title="discount"
                                ><span class="pill-wrapper"
                                  ><span
                                    class="pill-badge"
                                    style="
                                      background-color: rgb(0, 199, 250);
                                    "></span
                                  ><span class="pill-text"
                                    >discou...</span
                                  ></span
                                ></span
                              ></span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div
                    class="table__container table__container-fixed overflow-visible"
                    style="width: 450px">
                    <table
                      class="table__block undefined"
                      cellpadding="0"
                      cellspacing="0">
                      <thead class="table__header">
                        <tr
                          class="table__row"
                          style="height: 57px">
                          <th
                            class="table__cell table__cell--header null table__cell--xxlarge"
                            title="Campaign name"
                            style="width: 450px">
                            Campaign name
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/2k72p10/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Cavin Kare "
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/pprqa2/overview"
                                  >Cavin Kare
                                </a></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/3apb6g0/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="ImaginXP"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/37heigo/overview"
                                  >ImaginXP</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~6np1se/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="test"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~177ne9c/overview"
                                  >test</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Course Purchased: Onboarding"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~1dnh1of/overview"
                                  >Course Purchased: Onboarding</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="WhatsApp GoDesi"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/3hc43mi/overview"
                                  >WhatsApp GoDesi</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Inactive users D30"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/~2ra24pi/overview"
                                  >Inactive users D30</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                        <tr
                          class="table__row"
                          style="height: 65px">
                          <td
                            class="table__cell table__cell--xxlarge table__cell--content-text">
                            <div class="display-flex">
                              <span class="handle-text-overflow"
                                ><a
                                  title="Purchase complete message"
                                  class="text-primary no-decoration padding-left-xs"
                                  href="/accounts/aa1326d6/whatsapp-messages/campaigns/1q9pen4/overview"
                                  >Purchase complete message</a
                                ></span
                              ><span class="margin-left-auto"
                                ><div class="pop-over">
                                  <div class="pop-over__head">
                                    <i class="fl-vert-more fl-dark"></i>
                                  </div></div
                              ></span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <ul class="pagination">
                <li class="pagination__previous is-disabled">
                  <a
                    class="pagination__previous__link"
                    tabindex="0"
                    ><i class="fl-chevron-left"></i
                  ></a>
                </li>
                <li class="pagination__page pagination__page--active">
                  <a
                    class="pagination__page__link"
                    tabindex="0"
                    aria-label="Page 1 is your current page"
                    aria-current="page"
                    >1</a
                  >
                </li>
                <li class="pagination__page">
                  <a
                    class="pagination__page__link"
                    tabindex="0"
                    aria-label="Page 2"
                    >2</a
                  >
                </li>
                <li class="pagination__next">
                  <a
                    class="pagination__next__link"
                    tabindex="0"
                    ><i class="fl-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
