<div class="flex flex-col flex-auto min-w-0">
  <div>
    <header class="subhead">
      <div class="subhead__section align-items-center">
        <h4 class="display-inline">Users</h4>
        <div class="tooltip_wrapper tooltip--inline">
          <div class="tooltip_target tooltip--inline">
            <i class="fl-info fl-dark"></i>
          </div>
        </div>
      </div>
      <ul class="tab-list clearfix">
        <li class="tab-list__element">
          <a class="tab-list__link" href="/accounts/aa1326d6/users/overview"
            >Overview</a
          >
        </li>
        <li class="tab-list__element">
          <a class="tab-list__link" href="/accounts/aa1326d6/users/analyze"
            >Analyze</a
          >
        </li>
        <li class="tab-list__element">
          <a
            class="tab-list__link tab-list__link--active"
            aria-current="page"
            href="/accounts/aa1326d6/users/all"
            >List of Users</a
          >
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="card">
        <div class="card__header">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                           <div class="search">
                    <i class="fl-search"></i>
                    <div class="form__element">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>You Can filter the Data  - User Type, Name, Email, Created At. etc.</mat-label>
                            <input
                              matInput
                              (keyup)="applyFilter($event)"
                              placeholder="You Can filter the Data - User Type, Name, Email, Created At. etc."
                              #input
                            />
                          </mat-form-field>
                      
                    </div>
                     
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>

        <div
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 w-full min-w-0"
        >
          

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Id No.</th>
              <td mat-cell *matCellDef="let element">{{ element._id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

           
            <!-- Weight Column -->
            <ng-container matColumnDef="campaignCount">
              <th mat-header-cell *matHeaderCellDef>CAMPAIGNS</th>
              <td mat-cell *matCellDef="let element">{{ element.campaignCount }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="journeyCount">
              <th mat-header-cell *matHeaderCellDef>JOURNEYS</th>
              <td mat-cell *matCellDef="let element">{{ element.journeyCount }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="createdOn">
              <th mat-header-cell *matHeaderCellDef>CREATED ON</th>
              <td mat-cell *matCellDef="let element">
                {{ element.createdOn | date }}
              </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="updatedAt">
              <th mat-header-cell *matHeaderCellDef>updatedAt</th>
              <td mat-cell *matCellDef="let element">
                {{ element.updatedAt | date }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align:center" col-8>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</div>


